body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
.orange-color{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
width: 80%;
}
.link-button{
   text-decoration: none;
   background-image: linear-gradient( orange tomato);
   padding: 10px 40px;
   color: white;
   font-weight: 700;
   border-radius: 5px;
   background-color: orange;


}
.top-banner{
  background-image:url(images/top-banner.png) ;
  background-repeat: no-repeat;
}
.dream-big{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experince-item{
  box-shadow: 10px 10px 40px  gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left:10px ;
  border-radius: 10px ;
}
.experince-area{
  background-image: url(images/at\ beg.png);
  background-repeat: no-repeat;
  background-position: left;
  
}
#web-dev-experince{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
border-image-slice: 1;
}
#Full-dev-experince{
  border-left: 7px solid;
  border-image: linear-gradient(salmon,tomato);
border-image-slice: 1;
}
footer p{
  text-align: center;
}